<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--        <link rel="stylesheet" href="{% static 'css/login.css' %}">-->

<!--    <title>login</title>-->
<!--</head>-->
<!--<body>-->
<!--</div class="login-container">-->
<!--<h1 align="center">REGISTER</h1>-->

<!--<form method="post" class="login-form">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">submit</button>-->


<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <title>register</title>
</head>
<body>
<form action="" method="post" >
    {% csrf_token %}
    <h2>Sign up</h2>

    <input type="text" id="username" name="username" placeholder="create a username"><br>

    <input type="text" id="fname" name="fname" placeholder="Enter first name"><br>

    <input type="text" id="lname" name="lname" placeholder="Enter last name"><br>

    <input type="email" id="email" name="email" placeholder="Email id"><br>

    <input type="password" id="pass1" name="pass1" placeholder="create a password"><br>

    <input type="password" id="pass2" name="pass2" placeholder="Confirm password"><br>

    <button class="signupp" type="submit">Sign Up</button><br>
    <h5>Already have an account ?<a class="sp" href="{% url 'login' %}">Login</a></h5>

</form>
</body>
</html>